<div id="<%= dom_id friend %>">


<div class="card" style="width: 18rem;">
<!--  <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
  <p>
    <strong>Name:</strong>
    <%= friend.name %>
  </p>

<hr />

    <p>
    <strong>Age:</strong>
    <%= friend.age %>
  </p>

<hr />

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

<hr />

  <p>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p>

  </div>
</div>


</div>
